<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
">
 <bean id="drink" class="DIProblem.Tea" />
 <bean id="coffee" class="DIProblem.Coffee"/>
    <bean id="restaurent" class="DIProblem.Restaurent" name="rest" autowire="byName">
     <constructor-arg name="name" value="Tea"/>
        <property name="age" value="20"/>
        <!--<property name="drink" ref="drink"/>-->
        <property name="breavages">
            <list>
                <value>sduqu</value>
            </list>
        </property>
        <property name="name" value="kkk"/>
    </bean>

    <bean id = "textEditor" class = "Autowiring.TextEditor" autowire = "byName">
    </bean>

    <!-- Definition for spellChecker bean -->
    <bean id = "spellChecker1" class = "Autowiring.SpellChecker" init-method="customInit" destroy-method="customDestroy"></bean>

</beans>